*.json
*.idea
*.tar.gz
*.log
*.exe
Sinanet-master
*.png
/test
/main
/dataset/*
!/dataset/simple/
!/dataset/SinaNet/
!/dataset/download.py
/cmake-build-debug
experiment_results_list.csv
/plots
/raw_data
/plots_r
