*.json
*.idea
*.tar.gz
*.log
*.exe
Sinanet-master
*.png
/test
/main
/debug
/dataset/*
!/dataset/simple/
!/dataset/SinaNet/
!/dataset/download.py
/cmake-build-debug
experiment_results_list.csv
/plots
/raw_data
.DS_Store
gmon.out
analysis.txt
*/__pycache__
!/experiment/experiment_config.json
